/* CUSTOM FONT DECLARATION*/



@font-face {
    font-family: 'antonioregular';
    src: url('antonio-regular-webfont.woff2') format('woff2'),
         url('antonio-regular-webfont.woff') format('woff'),
         url('Antonio-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}